name: Build and deploy Python app to Azure Web App

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Collect static
        env:
          DJANGO_SETTINGS_MODULE: ProyectoAzure.settings
        run: |
          python manage.py collectstatic --noinput

      - name: Zip artifact
        run: zip -r release.zip . -x "venv/*" ".env" "*.sqlite3" "__pycache__/*" "*.pyc"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: practica-azure-backend
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: release.zip
